<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap"
        rel="stylesheet">
    <title>Thank You for Registering with Hindu Business Directory</title>
</head>
<body
    style="margin: 0;padding: 20px;box-sizing: border-box;font-family: 'DM Sans', sans-serif;background-color: #fff;">
    <section
        style="width: 100%;max-width: 650px;padding: 0;border:1px dashed rgb(161,165,162);box-sizing: border-box;margin: auto;padding: 0px;background-color: #FCFCFC;border-radius: 8px;overflow:hidden;display: flex;min-height: auto;align-items: center;justify-content: center;">
        <table style="width: 100%;border: none;border-spacing: 0;">
            <tr>
                <td>
                    <h3
                        style="font-size:55px;margin:10px 0 0;text-align: center;color: #504D4D;">Thank
                        you</h3>
                    <h2
                        style="font-size:22px;margin:0px 0 0;font-weight:500;text-align: center;color: #352F2F;">for
                        Registering in <span
                            style="color: rgb(244, 197, 66);font-weight: 700;">Hindu Business Directory</span></h2>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    <h3 style="text-align: center;">Thank you! <%= clientName %></h3>
                    <p style="text-align: center; text-align: justify;">
                        Thank you for registering with us! We have successfully received your registration details.<br><br>
                        We're thrilled to welcome you to our community! Your account is now set up, giving you access to all our features and benefits. We're eager to understand your unique needs and provide tailored solutions just for you.<br><br>
                        In the meantime, feel free to explore our product gallery at this link for detailed specifications and images of our products and services.<br><br>
                        Here are your login credentials:<br>
                        Email: <%= clientEmail %> <br>
                        Password: <%= clientPassword %> <br><br>
                        <a style="color: rgb(244, 197, 66);" href="https://hindubusinessdirectory.com.au/">https://hindubusinessdirectory.com.au/</a><br><br>
                        If you have any immediate questions, feel free to reply to this email <b style="color:rgb(247, 214, 140);"> (namaste@hindubusinessdirectory.com.au)</b>
                    </p>
                    <p style="margin: 20px 0 0;text-align: center;font-weight: 400;font-size: 16px;">
                        <a href="http://3000/api/register" style="color: #504D4D;text-decoration: underline;">Visit us on</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0;">
                    <div style="background-color: rgb(161,165,162);padding: 15px 15px 11px 15px;">
                        <ul style="list-style-type: none;padding: 0;margin: 0;text-align: center;">
                            <li style="display: inline-block;">
                                <a href="#" style="display: block; height: 30px;">
                                    <img src="https://logolook.net/wp-content/uploads/2021/06/Facebook-Logo.png" width="100%" height="30px" alt="Facebook">
                                </a>
                            </li>
                            <li style="display: inline-block;margin:  0 10px;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="http://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="30px" height="30px" alt="Instagram">
                                </a>
                            </li>
                            <li style="display: inline-block;margin:  0 10px;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="https://clipground.com/images/linkedin-clipart-5.jpg" width="30px" height="30px" alt="LinkedIn">
                                </a>
                            </li>
                            <li style="display: inline-block;margin:  0 10px;">
                                <a href="#" style="display: block;height: 30px;">
                                    <img src="https://1.bp.blogspot.com/-zaoiLHspoKI/XeI_0uFAeCI/AAAAAAAAF38/CyHgdY8bdOQ7d979yOJ0voSIA8b5bAF2wCLcBGAsYHQ/s1600/Youtube-Icon-2000x2000.png" width="30px" height="30px" alt="YouTube">
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>
